* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(50, 70, 255);
  color: white;
}
.profHero img {
  width: 17%;
  border-radius: 60%;
}
.profHero .name {
  font-size: 200%;
  font-weight: bold;
}
.profHero .containerProf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: brown;
  padding: 5%;
}
/* social media styling */
.mediaContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
section h2 {
  text-align: center;
}
.mediaContainer .media i {
  color: grey;
}
.mediaContainer .media {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px;
  padding: 2rem 3rem 1rem 3rem;
  width: 17%;
}
.mediaContainer .media:hover {
  width: 22%;
}

.mediaContainer .media div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mediaContainer .media p {
  font-size: 150%;
  font-weight: bold;
}
.mediaContainer .media input {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 20px;
  font-size: 100%;
  border: none;
  background: rgb(50, 70, 255);
  font-weight: bold;
  color: white;
}
/* navigation stying */
.nav {
  display: flex;
  justify-content: center;
  background: rgb(50, 70, 255);
  margin-top: 1rem;
}
.nav .option {
  font-size: 120%;
  font-weight: bold;
  color: white;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
}
.nav .option:hover {
  background: grey;
}
.activityContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.activityContainer .activity {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 10px;
  border: solid;
}
.activityContainer .actContainer {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 400px) {
  .mediaContainer .media p {
    font-size: 120%;
  }
}
@media (max-width: 742px) {
  .mediaContainer .media input {
    padding: 1rem 1rem 1rem 1rem;
  }
}
